Python:

pandas
numpy
requests
regex
pandas
selenium
sqlite3

R:
Unlearn
visNetwork
tidyverse
e1071
caret
dplyr
zoo
reticulate
RcppRoll
shiny
shinyWidgets
shinydashboard
shinythemes
geojsonio
leaflet
RColorBrewer
plotly


